<a href="https://colab.research.google.com/github/Saumyaharsh/python_notes/blob/main/Untitled4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [28]:
tup = (10,20,30,40,50)
print(tup[::-1])

(50, 40, 30, 20, 10)

In [23]:
tuple1 = ("Orange",[10,20,30],(5,15,25))
print(tuple1[1][1])

20

In [24]:
tup = (50,)
print(type(tup))

<class 'tuple'>

In [30]:
tup = (10,20,30,40)
a = tup [0]
print (a)
b = tup [1]
c = tup[2]
d = tup[3]
print(b)
print(c)
print(d)

10
20
30
40

In [32]:
tuple1 = (11,22)
tuple2 = (99,98)
tuple1, tuple2 = tuple2, tuple1
print(tuple1)
print(tuple2)

(99, 98)
(11, 22)

In [38]:
tuple1 = (11,22,33,44,55,66)
tuple2 = tuple1[-3:-1:1]
print(tuple2)

(44, 55)

In [40]:
tuple = (11,[22,33],44,55)
tuple[1][0] = 222
print(tuple)

(11, [222, 33], 44, 55)

In [42]:
tuple1 = (50,10,60,70,50)
print(tuple1.count(50))

2

In [47]:
tuple1 = (45,45,45,45)
l = len(tuple1)
a = tuple1[0]
b = tuple1.count(a)
if (b==l):
  print("TRUE")
else:
  print("FALSE")

TRUE