<a href="https://colab.research.google.com/github/Saumyaharsh/python_notes/blob/main/Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
marks = [94.4,87.5,95.2,66.4,45.1]
print(marks)
print(type(marks))
print(marks[0])
print(marks[1])
print(len(marks))
student = ["karan",95.4,"Delhi"]
print(student)
student[0] = "Arjun"
print(student)

[94.4, 87.5, 95.2, 66.4, 45.1]
<class 'list'>
94.4
87.5
5
['karan', 95.4, 'Delhi']
['Arjun', 95.4, 'Delhi']

In [6]:
marks = [85,94,76,63,48]
print(marks[:5])
print(marks[1:])
print(marks[3:5])

[85, 94, 76, 63, 48]
[94, 76, 63, 48]
[63, 48]

In [7]:
str = "hello"
print(str[0])
student

h

['Arjun', 95.4, 'Delhi']

In [9]:
list = ['a','b', 'd','g']
print(list.sort())

print(list)
list.reverse()
print(list)

None
['a', 'b', 'd', 'g']
['g', 'd', 'b', 'a']

In [12]:
list = [2,1,1,3]
print(list)
list.insert(1,8)
print(list)
list.remove(1)
print(list)
list.pop(2)
print(list)

[2, 1, 1, 3]
[2, 8, 1, 1, 3]
[2, 8, 1, 3]
[2, 8, 3]

In [14]:
tup = (2,1,3,1)
print(type(tup))
print(tup[0])
print(tup[1])
# Not correct tup[0]= 4
# since tuple is an immutable data type

<class 'tuple'>
2
1

In [17]:
tup=()
tupl=(1,)
print(tupl)
print(type(tupl))
#only for single valued we add , in multiple valued we can add or cannnot

(1,)
<class 'tuple'>

In [18]:
tupl = (1)
print(tupl)
print(type(tupl))

1
<class 'int'>

In [19]:
tup = (1,2,3,4)
print(tup[1:3])

(2, 3)

In [21]:
tup = (2,1,3,1)
print(tup.index(1))
tup.count(1)

1

2

In [23]:
movies = []
mov1 = input("enter 1st movie:")
mov2 = input("enter 2nd movie:")
mov3 = input("enter 3rd movie")
movies.append(mov1)
movies.append(mov2)
movies.append(mov3)
print(movies)

enter 1st movie:a
enter 2nd movie:b
enter 3rd moviec
['a', 'b', 'c']

In [24]:
movies = []
movies.append(input("enter 1st movie:"))
movies.append( input("enter 2nd movie:"))
movies.append(input("enter 3rd movie"))
print(movies)

enter 1st movie:a
enter 2nd movie:v
enter 3rd movieb
['a', 'v', 'b']

In [33]:
list1 = [1,2,1]
list2 = [1,2,3]
copy_list1 = list1.copy()
copy_list1.reverse()
if(list1==copy_list1):
  print("PALINDROME")
else:
  print("NOT PALINDROME")

NOT PALINDROME

In [35]:
grade = ("C","D","A","A","B","B","A")
print(grade.count("A"))

3

In [36]:
grade = ["C","D","A","A","B","B","A"]
grade.sort()
print(grade)

['A', 'A', 'A', 'B', 'B', 'C', 'D']

Tuples are immutable but lists are mutable